MiPrimerConsumoWCF/Connected Services/ServiceMedicamento/Medicamentos.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Medicamentos" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.250.9:8081/Medicamentos.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.250.9:8081/Medicamentos.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.250.9:8081/Medicamentos.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiciosMedicamentos.Clases" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMedicamentos_ListarMedicamentos_InputMessage">
    <wsdl:part name="parameters" element="tns:ListarMedicamentos" />
  </wsdl:message>
  <wsdl:message name="IMedicamentos_ListarMedicamentos_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListarMedicamentosResponse" />
  </wsdl:message>
  <wsdl:message name="IMedicamentos_ListaFormaFarmaceutica_InputMessage">
    <wsdl:part name="parameters" element="tns:ListaFormaFarmaceutica" />
  </wsdl:message>
  <wsdl:message name="IMedicamentos_ListaFormaFarmaceutica_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListaFormaFarmaceuticaResponse" />
  </wsdl:message>
  <wsdl:message name="IMedicamentos_RecuperarMedicamento_InputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarMedicamento" />
  </wsdl:message>
  <wsdl:message name="IMedicamentos_RecuperarMedicamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:RecuperarMedicamentoResponse" />
  </wsdl:message>
  <wsdl:message name="IMedicamentos_RegistraryActualizarMedicamento_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistraryActualizarMedicamento" />
  </wsdl:message>
  <wsdl:message name="IMedicamentos_RegistraryActualizarMedicamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistraryActualizarMedicamentoResponse" />
  </wsdl:message>
  <wsdl:message name="IMedicamentos_EliminarMedicamento_InputMessage">
    <wsdl:part name="parameters" element="tns:EliminarMedicamento" />
  </wsdl:message>
  <wsdl:message name="IMedicamentos_EliminarMedicamento_OutputMessage">
    <wsdl:part name="parameters" element="tns:EliminarMedicamentoResponse" />
  </wsdl:message>
  <wsdl:portType name="IMedicamentos">
    <wsdl:operation name="ListarMedicamentos">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedicamentos/ListarMedicamentos" message="tns:IMedicamentos_ListarMedicamentos_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedicamentos/ListarMedicamentosResponse" message="tns:IMedicamentos_ListarMedicamentos_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListaFormaFarmaceutica">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedicamentos/ListaFormaFarmaceutica" message="tns:IMedicamentos_ListaFormaFarmaceutica_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedicamentos/ListaFormaFarmaceuticaResponse" message="tns:IMedicamentos_ListaFormaFarmaceutica_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RecuperarMedicamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedicamentos/RecuperarMedicamento" message="tns:IMedicamentos_RecuperarMedicamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedicamentos/RecuperarMedicamentoResponse" message="tns:IMedicamentos_RecuperarMedicamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistraryActualizarMedicamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedicamentos/RegistraryActualizarMedicamento" message="tns:IMedicamentos_RegistraryActualizarMedicamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedicamentos/RegistraryActualizarMedicamentoResponse" message="tns:IMedicamentos_RegistraryActualizarMedicamento_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EliminarMedicamento">
      <wsdl:input wsaw:Action="http://tempuri.org/IMedicamentos/EliminarMedicamento" message="tns:IMedicamentos_EliminarMedicamento_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMedicamentos/EliminarMedicamentoResponse" message="tns:IMedicamentos_EliminarMedicamento_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMedicamentos" type="tns:IMedicamentos">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ListarMedicamentos">
      <soap:operation soapAction="http://tempuri.org/IMedicamentos/ListarMedicamentos" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListaFormaFarmaceutica">
      <soap:operation soapAction="http://tempuri.org/IMedicamentos/ListaFormaFarmaceutica" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RecuperarMedicamento">
      <soap:operation soapAction="http://tempuri.org/IMedicamentos/RecuperarMedicamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistraryActualizarMedicamento">
      <soap:operation soapAction="http://tempuri.org/IMedicamentos/RegistraryActualizarMedicamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarMedicamento">
      <soap:operation soapAction="http://tempuri.org/IMedicamentos/EliminarMedicamento" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Medicamentos">
    <wsdl:port name="BasicHttpBinding_IMedicamentos" binding="tns:BasicHttpBinding_IMedicamentos">
      <soap:address location="http://192.168.250.9:8081/Medicamentos.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>